/*
 @ name：luck弹层组件-mobile
 @ author：前端老徐
 @ time：2015/5/12
 @ e-mail：442413729@qq.com
 @ weibo:http://weibo.com/qdlaoxu
 @ address:http://www.loveqiao.com/
*/

input{-webkit-appearance:none;-webkit-border-radius:0}
/*luck*/
.luck { position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 19891014; font-size: 14px;}
.luck-shade { background: #000; opacity: 0.5; position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 0; }
.luck-table { position: fixed; left: 0; top: 0; width: 100%; height: 100%; display: table; pointer-events: none; z-index: 1; }
.luck-table-cell { height: 100%; display: table-cell; vertical-align: middle; text-align: center; position: relative; z-index: 101; }
.luck-child { background: #fff; display: inline-block; max-width: 260px; min-width: 150px; border-radius: 5px; overflow: hidden; line-height: 22px; pointer-events: auto; animation: bouncedelay ease .3s; -webkit-animation: bouncedelay ease .3s; box-shadow: 0 0 50px #666; text-align: left; }
@-webkit-keyframes bouncedelay { 0% {
-webkit-transform:scale(0)
}
 100% {
-webkit-transform:scale(1)
}
}
@keyframes bouncedelay {
0% {
transform:scale(0);
-webkit-transform:scale(0)
}
 100% {
transform:scale(1);
-webkit-transform:scale(1)
}
}
.luck-title { height: 40px; line-height: 40px; background: #fff; font-weight: normal; padding-left: 10px; border-bottom: solid 1px #ddd; position: relative; }
.luck-title button { width: 40px; height: 40px; background: none; border: 0; font-size: 18px; position: absolute; right: 0; top: 0; }
.luck-con { padding: 20px 15px;}
.luck-btn-box { width: 100%; height: 40px; border-top: solid 1px #ddd; line-height: 40px; text-align: center; display: box; display: -webkit-box; display: -moz-box; orient: horizontal; }
.luck-btn-box span { display:block;box-flex: 1; -webkit-box-flex: 1; -moz-box-flex: 1; cursor:pointer;}
.luck-btn-box .no { border-left: solid 1px #eee; }
.loading { background: url(http://img.loveqiao.com/loading.gif) no-repeat center center #fff; width: 50px; height: 50px; }
